<!DOCTYPE html>

{% load tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enquete</title>

    {% tailwind_css %}
</head>
<body class="container mx-auto">
<h1 class="text-4xl text-center p-8 bg-blue-700 md:text-6xl">Enquetes Página Inicial</h1>

{% if latest_question_list %}
    <ul class="p-4 mx-auto container max-w-lg ">
    {% for question in latest_question_list %}
        <li class="hover:font-bold p-2">
            <a href="{% url 'polls:detail' question.id %}">
                {{ question.question_text }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</body>
</html>